body {
  background-color: lightgray;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.card {
  border: 1px solid grey;
  display: grid;
  max-width: 250px;
  background-color: white;
  grid-template-rows: 1fr 2fr;
}

.card > img {
  width: 100%;
}

.card-body {
  display: grid;
  max-width: 100%;
  padding: 10px;
  grid-template-rows: 1fr 2fr auto auto;
}

.foot {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.published {
  font-weight: bold;
  text-align: right;
}

.date {
  color: green;
}

button {
  background-color: green;
  border: 0;
  padding: 10px;
  color: white;
  font-size: 15px;
}
