body {
  margin: 0px;
  padding: 0px;
}

.menu {
  display: flex;
  justify-content: space-between;
  background-color: #49beb7;
}

.menuItem {
  padding: 10px;
  background-color: #49beb7;
  color: white;
}

.menuItem:active {
  background-color: #085f63;
}

@media screen and (max-width: 400px) {
  .menu {
    flex-direction: column;
    align-content: center;
  }

  .menuItem {
    text-align: center;
  }
}
